
*{
    text-align: center;
}
body{
    background-color: rgb(235, 191, 198);
    color: rgb(44, 16, 16);
    border: 2px solid rgb(58, 21, 21);
    border-radius: 25px;
    padding: 20px;
}
h1{
    border-radius: 25px;
    border: 2px solid rgb(58, 21, 21);
    padding: 20px;
}